<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

    <logger name="com.hzz" level="DEBUG" />
    <!--日志配置:http://www.cnblogs.com/lixuwu/p/5804793.html-->
    <springProfile name="dev, staging">
        <logger name="com.hzz" level="DEBUG" />
    </springProfile>

</configuration>
